.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 690px}
.u-section-1 .u-layout-wrap-1 {margin: 70px auto 70px 0}
.u-section-1 .u-layout-cell-1 {min-height: 550px; background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-text-1 {font-size: 6rem; margin: 84px 0 0}
.u-section-1 .u-text-2 {margin: 33px 0 84px}
.u-section-1 .u-image-1 {min-height: 550px; background-image: url("images/2feef8a32a101b2e01c05b0a4d2447da.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding-left: 29px; padding-right: 37px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 569px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-2 {width: 371px}
.u-section-1 .u-image-1 {min-height: 454px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 436px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-2 {width: 284px}
.u-section-1 .u-image-1 {min-height: 348px}
.u-section-1 .u-container-layout-2 {padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {width: 266px}
.u-section-1 .u-image-1 {min-height: 522px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {min-height: 329px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 740px}
.u-section-2 .u-layout-wrap-1 {min-height: 631px; margin: 70px 0}
.u-section-2 .u-image-1 {min-height: 631px; background-image: url("images/5d3055192db48dd26edb4132de1a1113.jpg"); background-position: 50% 50%}
.u-section-2 .u-image-2 {min-height: 316px; background-image: url("images/f47bf9905f5a7bf8ffe6a09771aba2ac.jpg"); background-position: 50% 50%}
.u-section-2 .u-image-3 {min-height: 315px; background-image: url("images/x.jpg"); background-position: 50% 50%}
.u-section-2 .u-layout-cell-4 {min-height: 631px}
.u-section-2 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-text-1 {margin: 65px 0 0}
.u-section-2 .u-text-2 {margin: 37px 0 0}
.u-section-2 .u-btn-1 {text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 37px auto 65px 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-4 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {min-height: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {min-height: 315px}
.u-section-2 .u-image-3 {min-height: 316px}
.u-section-2 .u-container-layout-4 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 2631px}
.u-section-2 .u-image-1 {min-height: 843px}
.u-section-2 .u-image-2 {min-height: 560px}
.u-section-2 .u-image-3 {min-height: 553px}
.u-section-2 .u-layout-cell-4 {min-height: 576px}
.u-section-2 .u-container-layout-4 {padding-left: 25px; padding-right: 25px}
.u-section-2 .u-btn-1 {margin-bottom: 0} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 2024px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: -103px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 451px}
.u-section-2 .u-image-2 {min-height: 451px}
.u-section-2 .u-image-3 {min-height: 370px}
.u-section-2 .u-layout-cell-4 {min-height: 613px}
.u-section-2 .u-container-layout-4 {padding-left: 18px; padding-right: 18px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 740px}
.u-section-3 .u-layout-wrap-1 {margin: 70px 0}
.u-section-3 .u-layout-cell-1 {background-image: none; min-height: 631px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-text-1 {margin: 129px 0 0}
.u-section-3 .u-text-2 {margin: 30px 0 0}
.u-section-3 .u-btn-1 {text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 30px auto 129px 0}
.u-section-3 .u-image-1 {background-image: url("images/1f8b4a88d8edaae1ccf4d506ca05ddbe.jpg"); min-height: 631px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 709px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 44px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 569px}
.u-section-3 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-3 .u-text-1 {margin-top: 55px; font-size: 2.25rem}
.u-section-3 .u-btn-1 {margin-bottom: 55px}
.u-section-3 .u-image-1 {min-height: 569px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 740px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 70px; min-height: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 631px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-text-1 {font-size: 1.875rem; margin-top: 65px}
.u-section-3 .u-text-2 {margin-top: 37px}
.u-section-3 .u-btn-1 {margin-top: 37px; margin-bottom: 65px}
.u-section-3 .u-image-1 {min-height: 315px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1276px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: -1285px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 576px}
.u-section-3 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-3 .u-text-1 {margin-top: 113px; font-size: 2.25rem}
.u-section-3 .u-btn-1 {margin-bottom: 48px}
.u-section-3 .u-image-1 {min-height: 560px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1204px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: -923px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 613px}
.u-section-3 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-3 .u-text-1 {margin-top: 68px}
.u-section-3 .u-btn-1 {margin-bottom: 3px}
.u-section-3 .u-image-1 {min-height: 451px} }