.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 690px}
.u-section-1 .u-layout-wrap-1 {margin: 70px auto 70px 0}
.u-section-1 .u-layout-cell-1 {min-height: 550px; background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-text-1 {font-size: 6rem; margin: 84px 0 0}
.u-section-1 .u-text-2 {margin: 33px 0 84px}
.u-section-1 .u-image-1 {min-height: 550px; background-image: url("images/ada0dba0-ab8c-d39b-ba3c-73318c6dc6f0.png"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding-left: 29px; padding-right: 37px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 569px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-2 {width: 371px}
.u-section-1 .u-image-1 {min-height: 454px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 436px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-2 {width: 284px}
.u-section-1 .u-image-1 {min-height: 348px}
.u-section-1 .u-container-layout-2 {padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {width: 266px}
.u-section-1 .u-image-1 {min-height: 435px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {min-height: 329px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 740px}
.u-section-2 .u-layout-wrap-1 {margin: 70px 0}
.u-section-2 .u-layout-cell-1 {background-image: none; min-height: 631px}
.u-section-2 .u-container-layout-1 {padding: 0 125px 0 30px}
.u-section-2 .u-text-1 {font-size: 6rem; margin: 70px auto 0 20px}
.u-section-2 .u-text-2 {font-size: 1.25rem; background-image: none; margin: 86px 28px 0 20px}
.u-section-2 .u-layout-cell-2 {min-height: 631px}
.u-section-2 .u-image-1 {width: 692px; left: -122px; right: auto} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 709px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 44px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 569px}
.u-section-2 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-2 .u-text-1 {margin-top: -68px; margin-left: 15px}
.u-section-2 .u-text-2 {margin-top: 17px; margin-left: 15px; margin-right: 0}
.u-section-2 .u-layout-cell-2 {min-height: 569px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 740px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 70px; min-height: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 631px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-text-1 {margin-top: 6px; margin-left: 14px}
.u-section-2 .u-text-2 {margin-top: -47px; margin-left: 14px}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1276px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: -1285px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 576px}
.u-section-2 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-2 .u-text-1 {margin-top: -10px; margin-left: 24px}
.u-section-2 .u-text-2 {margin-top: 17px; margin-left: 24px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1204px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: -923px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 613px}
.u-section-2 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-2 .u-text-1 {margin-top: 9px; margin-left: 15px}
.u-section-2 .u-text-2 {margin-top: -47px; margin-left: 15px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 770px}
.u-section-3 .u-layout-wrap-1 {margin: 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 630px}
.u-section-3 .u-container-layout-1 {padding: 0}
.u-section-3 .u-layout-cell-2 {min-height: 630px}
.u-section-3 .u-container-layout-2 {padding: 0 30px 0 215px}
.u-section-3 .u-text-1 {margin: 242px 0 0}
.u-section-3 .u-image-1 {width: 758px; left: -570px; right: auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 740px}
.u-section-3 .u-layout-wrap-1 {min-height: 631px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 631px; background-position: 50% 50%}
.u-section-3 .u-layout-cell-2 {min-height: 631px}
.u-section-3 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-3 .u-image-1 {width: 470px; margin-right: auto; margin-left: -725px} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {min-height: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 398px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-image-1 {width: 360px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 2631px}
.u-section-3 .u-layout-cell-1 {min-height: 597px}
.u-section-3 .u-container-layout-2 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 2024px}
.u-section-3 .u-layout-cell-1 {min-height: 376px}
.u-section-3 .u-layout-cell-2 {min-height: 613px}
.u-section-3 .u-container-layout-2 {padding-left: 18px; padding-right: 18px}
.u-section-3 .u-image-1 {width: 340px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 738px}
.u-section-4 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-4 .u-layout-cell-1 {min-height: 599px; background-image: none}
.u-section-4 .u-container-layout-1 {padding: 30px 60px}
.u-section-4 .u-text-1 {font-size: 6rem; margin: 15px 0 0}
.u-section-4 .u-text-2 {margin: 79px 0 0}
.u-section-4 .u-layout-cell-2 {min-height: 599px}
.u-section-4 .u-container-layout-2 {padding: 0}
.u-section-4 .u-image-1 {height: 597px; width: 713px; margin: 2px -9px 0 auto} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 753px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-text-2 {width: 371px}
.u-section-4 .u-layout-cell-2 {min-height: 494px; background-position: 50% 50%}
.u-section-4 .u-image-1 {height: 551px; width: 658px; margin-right: 0} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 399px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-text-2 {width: 284px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-image-1 {height: 422px; width: 504px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 499px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-2 {width: 266px} }

@media (max-width: 575px){ .u-section-4 .u-image-1 {height: 285px; width: 340px} }